/* Hide horizontal negative overhang and redefine background */
body {
    position: relative;
    overflow-x: hidden;
    background-color: rgba(20,40,60,0.1);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: inline-block;
    max-width: 100%;
}


/*     -     Adds for Bootstrap     -     */

.border-transparent { border-color: transparent !important; }

.bg-clip-padding { background-clip: padding-box; }
.bg-clip-content { background-clip: content-box; }
.bg-clip-border { background-clip: border-box; }

.l-0, .lt-0, .bl-0 { left: 0; }
.t-0, .lt-0, .tr-0 { top: 0; }
.r-0, .rb-0, .tr-0 { right: 0; }
.b-0, .rb-0, .bl-0 { bottom: 0; }

.image-42 {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.cursor-pointer {
    cursor: pointer;
}

/* Expand images */
/* Mouseover gallery for img/svg/... */
.expand-image:hover::after {
    content: url(../images/enlarge-image.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.expand-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2000;
}
.expand-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96%;
    height: 96%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}


/*     -     Adds for BootstrapVue     -     */

/* Bugs fix */
.modal {
    width: 100vw !important;
}


/*     -     Adds for VueRouter     -     */

.disable-events.router-link-exact-active {
    pointer-events: none;
}


/*     -     !!! Hacks !!!     -     */

/* Move over all */
/* .nav-scroller, */
.z-index-1 {
    z-index: 1;
}
