:root {
    --primary-hover: #0056b3;
    --light-hover:   #e2e6ea;
    --border-link-focus: rgba(0, 123, 255, 0.25);

    --bg-main-color: var(--light-hover); /* #e7e9eb; */ /* rgba(20, 40, 60, .1) */
    --black: #000;


    --bg-expand-container: rgba(0, 0, 0, .75);
}

/* Hide horizontal negative overhang and redefine background */
body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg-main-color);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: inline-block;
    max-width: 100%;
}

/* Change del style */
del {
    display: inline-table;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
del:before,
del:after {
    content: "";
    position: absolute;
    background-color: var(--black);
    left: 0;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: rotate(35deg);
    opacity: .7;
}
del:after {
    transform: rotate(-35deg);
}


/*     -     Adds for VueCarousel     -     */

.VueCarousel-navigation-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;    
    margin: 0 !important;
    padding: 0 !important;
    width: 48px;
    height: 48px;
    background-color: var(--primary) !important;
    border-radius: 50%;
    border: 4px solid var(--bg-main-color) !important;
    outline: none !important;
}
.VueCarousel-navigation-button:hover {
    background-color: var(--primary-hover) !important;
}
.VueCarousel-navigation-button.VueCarousel-navigation-next {
    right: calc(48px - 15px + 4px) !important;
}
.VueCarousel-navigation-button svg {
    height: 75%;
}
.VueCarousel-navigation-button.VueCarousel-navigation-prev {
    left: calc(48px - 15px + 4px) !important;
}
@media screen and (max-width: 575px) {
    .VueCarousel-navigation {
        display: none;
    }
}

/* vue-carusel bugs fix */
[class*="VueCarousel-dot"] {
    margin: 0 !important;
    outline: none !important;
}

/* color: #007bff;
background: var(--bg-main-color);
display: inline-flex;
cursor: pointer;
border: calc(1rem / 4) solid transparent;
border-radius: 50%;
outline: none; */


/*     -     Adds for Bootstrap     -     */
.btn.disabled,
.btn:disabled {
    pointer-events: none;
}

.btn-link-focus:focus,
.btn-link-focus.focus {
    -webkit-box-shadow: 0 0 0 0.2rem var(--border-link-focus);
    box-shadow: 0 0 0 0.2rem var(--border-link-focus);
}

.outline-none { outline: none; }

.border-transparent { border-color: transparent !important; }

.bg-clip-padding { background-clip: padding-box; }
.bg-clip-content { background-clip: content-box; }
.bg-clip-border { background-clip: border-box; }

.l-0, .lt-0, .bl-0 { left: 0; }
.t-0, .lt-0, .tr-0 { top: 0; }
.r-0, .rb-0, .tr-0 { right: 0; }
.b-0, .rb-0, .bl-0 { bottom: 0; }

.opa-0 { opacity: 0; }
.opa-025 { opacity: 0.25; }
.opa-05 { opacity: 0.5; }
.opa-075 { opacity: 0.75; }
.opa-1 { opacity: 1; }

.font-size-100 { font-size: 1.00rem; }
.font-size-125 { font-size: 1.25rem; }
.font-size-150 { font-size: 1.50rem; }

.image-42 {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.z-index-0 { z-index: 0; }
.z-index-1 { z-index: 1; }

.hyphens {
    hyphens: auto;
}

/* Change cursor */
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }

.custom-control-input:not(:disabled) ~ .custom-control-label::before,
.custom-control-input:not(:disabled) ~ .custom-control-label::after {
    cursor: pointer;
}

/* Scroll pages to top button */
.btn-jump-to-top {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    opacity: .70;
    z-index: 1030;
}
.btn-jump-to-top:hover {
    opacity: 1;
}

.jump-to-top-fade-enter-active, 
.jump-to-top-fade-leave-active {
  transition: opacity .7s;
}
.jump-to-top-fade-enter, 
.jump-to-top-fade-leave-to {
  opacity: 0;
}


/* Cards header global hide */
.cards-no-header .card .card-header {
    display: none;
}

/*     -     Adds for Bootstrap cards     -     */
/* Set with for cards in list */
.card .w-tmp {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .card-list .w-tmp {
        min-width: 220px;
        width: 220px;
        max-width: 220px;
    }
}
@media screen and (max-width: 767px) {
    .card-list .card-status {
        display: none;
    }
}

/* Set max with for cards in deck */
.card-deck .card {
    min-width: 220px;
}
.card-deck .card-status {
    display: none;
}
@media screen and (min-width:576px) {
    .card-deck .card { max-width: calc(100% - 15px * 2); }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media screen and (min-width:992px) {
    .card-deck .card { max-width: calc(100% / 2 - 15px * 2); }
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media screen and (min-width:1200px) {
    .card-deck .card { max-width: calc(100% / 3 - 15px * 2); }
}



/* Expand images */
/* Mouseover gallery for img/svg/... */
.expand-image:hover::after {
    content: url(../images/enlarge-image.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.expand-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-expand-container);
    z-index: 2000;
}
.expand-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96%;
    height: 96%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}


/*     -     Adds for BootstrapVue     -     */

/* Bugs fix */
.modal {
    width: 100vw !important;
}

.custom-file {
    z-index: 0;
}

.alert-dismissible {
    padding-right: 1.25rem;
}

/*     -     Adds for Accordion     -     */
.accordion > .card {
    border-left: 0;
    border-right: 0;
}
  
.accordion > .card:last-of-type {
    border-bottom: 0;
}

.accordion > .card:first-of-type {
    border-top: 0;
}

/*     -     Adds for VueRouter     -     */

.disable-events.router-link-exact-active {
    pointer-events: none;
}

/*     -     Adds for Editor     -     */
.editor-compress {
    height: 420px;
}
.editor-expand {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1080;
    padding: 1.25rem;
}

/*     -     Adds for Reader     -     */
.nav-scroller {
    max-height: calc(100vh - 57px);
    overflow-y: auto;
}

/*     -     !!! Hacks !!!     -     */


/*     -     !!!  TMP  !!!     -     */
/* !MUST TO DELETE AFTER PRODUCTION! */
.toast {
    max-height: 90vh;
    overflow-y: auto;
    word-break: break-all;
}
.toast-header {
    position: sticky;
    top: 0;
}