/* Hide horizontal negative overhang and redefine background */
body {
    position: relative;
    overflow-x: hidden;
    background-color: rgba(20,40,60,0.1);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: inline-block;
    max-width: 100%;
}

/* Change del style */
del {
    display: inline-table;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
del:before,
del:after {
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: rotate(35deg);
    opacity: .7;
}
del:after {
    transform: rotate(-35deg);
}


/*     -     Adds for Bootstrap     -     */

.border-transparent { border-color: transparent !important; }

.bg-clip-padding { background-clip: padding-box; }
.bg-clip-content { background-clip: content-box; }
.bg-clip-border { background-clip: border-box; }

.l-0, .lt-0, .bl-0 { left: 0; }
.t-0, .lt-0, .tr-0 { top: 0; }
.r-0, .rb-0, .tr-0 { right: 0; }
.b-0, .rb-0, .bl-0 { bottom: 0; }

.image-42 {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.cursor-pointer { cursor: pointer; }

.z-index-0 { z-index: 0; }
.z-index-1 { z-index: 1; }

.hyphens {
    hyphens: auto;
}

/* Scroll pages to top button */
.btn-jump-to-top {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    opacity: .70;
    z-index: 1030;
}
.btn-jump-to-top:hover {
    opacity: 1;
}

.jump-to-top-fade-enter-active, 
.jump-to-top-fade-leave-active {
  transition: opacity .7s;
}
.jump-to-top-fade-enter, 
.jump-to-top-fade-leave-to {
  opacity: 0;
}


/* Cards header global hide */
.cards-no-header .card .card-header {
    display: none;
}

/*     -     Adds for Bootstrap cards     -     */
/* Set with for cards in list */
.card .w-tmp {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .card-list .w-tmp {
        width: 220px;
    }
}
@media screen and (max-width: 767px) {
    .card-list .card-status {
        display: none;
    }
}

/* Set max with for cards in deck */
.card-deck .card {
    min-width: 220px;
}
.card-deck .card-status {
    display: none;
}
@media screen and (min-width:576px) {
    .card-deck .card { max-width: calc(100% - 15px * 2); }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media screen and (min-width:992px) {
    .card-deck .card { max-width: calc(100% / 2 - 15px * 2); }
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media screen and (min-width:1200px) {
    .card-deck .card { max-width: calc(100% / 3 - 15px * 2); }
}



/* Expand images */
/* Mouseover gallery for img/svg/... */
.expand-image:hover::after {
    content: url(../images/enlarge-image.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.expand-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2000;
}
.expand-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96%;
    height: 96%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}


/*     -     Adds for BootstrapVue     -     */

/* Bugs fix */
.modal {
    width: 100vw !important;
}


/*     -     Adds for VueRouter     -     */

.disable-events.router-link-exact-active {
    pointer-events: none;
}


/*     -     !!! Hacks !!!     -     */

